<div class="user-details">
    <h1> О нас </h1>
    <p>
        Компания TN Qazaq - профессионалы в области IT, работающие в составе группы компаний "Технологии Надежности", основанной в 2009 году.
        Наш многолетний опыт разработки программного обеспечения корпоративного уровня для банков, инвестиционных, финансово-технологических, промышленных,
        страховых и ритейл компаний позволяет решать самые сложные задачи бизнеса качественно и в срок.
    </p>
    <p>
        Мы предоставляем услуги аутстафинга высококвалифицированных IT-специалистов для решения задач наших партнеров,
        занимаемся разработкой программного обеспечения "под ключ", полностью удовлетворяющего требованиям заказчика,
        оказываем поддержку в цифровой трансформации бизнеса наших клиентов.
    </p>
    <p>
        Наши специалисты реализуют полный цикл работ, начиная от предварительного анализа, проектирования и разработки ПО до внедрения
        и сопровождения конечных продуктов. Используем гибкие методики управления проектами и современные технологии разработки в соответствии с международными стандартами.
    </p>
    <p>
        С марта 2023 года компания TN Qazaq является резидентом международного технопарка <strong>Astana Hub</strong>.
    </p>
    <p>
        Работаем по всему рынку СНГ.
    </p>
    <p>
        г. Алматы, Казахстан.
    </p>
    <img alt="reliab tech" class="partner-image" src="{{ "/assets/img/rt.png" | prepend: site.baseurl }}" />
</div>
<div class="user">
    <div class="tech">
        <h2>ИТ-аутстафинг</h2>
        <i class="icon fa fa-group"></i>
        <ul>
            <li>Time & material</li>
            <li>Менеджмент команд на нашей стороне или на стороне заказчика</li>
            <li>Развитие компетенций в системах и процессах заказчика</li>
            <li>Гибкое масштабирование</li>
        </ul>
    </div>
    <div class="tech">
        <h2>Разработка ПО</h2>
        <i class="icon fa fa-code"></i>
        <ul>
            <li>Сбор и формализация требований к проекту</li>
            <li>Работа по методологии Agile или Waterfall</li>
            <li>Регулярные демо заказчику</li>
            <li>Фиксированная стоимость</li>
        </ul>
    </div>
    <div class="tech">
        <h2>ИТ-аудит</h2>
        <i class="icon fa fa-bar-chart"></i>
        <ul>
            <li>Анализ архитектуры информационных систем и ИТ-инфраструктуры заказчика</li>
            <li>Актуализация проблем и точек роста</li>
            <li>Выработка рекомендаций по оптимизации и развитию ИТ-ландшафта</li>
        </ul>
    </div>
</div>
