<div class="user-details">
    <h1> About Us </h1>
    <p>
        TNQZ LLC company are professionals in the IT field. Our extensive experience in developing enterprise-level software for banks,
        investment, fintech, industrial, insurance, and retail companies allows us to solve the most complex business tasks
        efficiently and on time.
    </p>
    <p>
        We provide outsourcing services of highly qualified IT specialists to solve the tasks of our partners, engage in the development of turnkey
        software that fully meets the requirements of the customer, and provide support in the digital transformation of our clients' business.
    </p>
    <p>
        Our specialists implement the full cycle of work, starting from preliminary analysis, design, and software development to the implementation and maintenance
        of end products. We use flexible project management methodologies and modern development technologies in accordance with international standards.
    </p>
    <p>
        TNQZ company is a resident of the international technopark <strong>Astana Hub</strong>.
    </p>
    <p>
        We work in the international market.
    </p>
    <p>
        The company is located in Almaty, Kazakhstan.
    </p>
</div>
<div class="user">
    <div class="tech">
        <h2>IT Outstaffing & Outsourcing</h2>
        <i class="icon fa fa-group"></i>
        <ul>
            <li>Time & Material</li>
            <li>Management of teams on our side or on the customer's side</li>
            <li>Development of competencies in customer's systems and processes</li>
            <li>Flexible scaling</li>
        </ul>
    </div>
    <div class="tech">
        <h2>Software Development</h2>
        <i class="icon fa fa-code"></i>
        <ul>
            <li>Collection and formalization of project requirements</li>
            <li>Working according to Agile or Waterfall methodology</li>
            <li>Regular demos to the customer</li>
            <li>Fixed cost</li>
        </ul>
    </div>
    <div class="tech">
        <h2>IT Audit</h2>
        <i class="icon fa fa-bar-chart"></i>
        <ul>
            <li>Analysis of the customer's information systems architecture and IT infrastructure</li>
            <li>Updating problems and growth points</li>
            <li>Developing recommendations for optimizing and developing the IT landscape</li>
        </ul>
    </div>
</div>
