<div class="user-details">
    <h1> О нас </h1>
    <p>
        Компания TN Qazaq - профессионалы в области IT, работающие в рамках группы компаний "Технологии Надежности",
        которая была основана в 2009 году и имеет многолетний опыт разработки корпоративного программного обеспечения уровня Enterprise
        для банков, инвестиционных, технологических, промышленных, страховых и ритейл компаний, обладает значительной экспертизой в разработке для финтех индустрии.
    </p>
    <p>
        Мы предоставляем штатных IT-специалистов в формате аутстафа для решения задач своих партнеров. Наша команда включает в себя backend-разработчиков,
        которые работают с Java и Spring, frontend-разработчиков, специализирующихся на React, QA-инженеров, системных аналитиков и DevOps-инженеров.
        Кроме того, мы предоставляем услуги разработки программного обеспечения (аутсорсинг) по требованиям заказчика "под ключ".
    </p>
    <p>
        Наши специалисты реализуют полный цикл работ, начиная от предварительного анализа, проектирования и разработки ПО до внедрения и сопровождения конечных продуктов.
        Используем гибкие методики управления проектами и современные технологии разработки.
    </p>
    <p>
        С марта 2023 года компания TN Qazaq является резидентом международного технопарка Astana Hub.
    </p>
    <p>
        Работаем по всему рынку СНГ.</p>
    <p>
        г. Алматы, Казахстан.
    </p>
    <img alt="astana hub" class="partner-image" src="{{ "/assets/img/ah.png" | prepend: site.baseurl }}" />
    <img alt="reliab tech" class="partner-image" src="{{ "/assets/img/rt.png" | prepend: site.baseurl }}" />
</div>
<div class="user">
    <div class="tech">
        <h2>ИТ-аутстафинг</h2>
        <i class="icon fa fa-group"></i>
        <ul>
            <li>Time & material</li>
            <li>Менеджмент команд на нашей стороне или на стороне заказчика</li>
            <li>Развитие компетенций в системах и процессах заказчика</li>
            <li>Гибкое масштабирование</li>
        </ul>
    </div>
    <div class="tech">
        <h2>Разработка ПО</h2>
        <i class="icon fa fa-code"></i>
        <ul>
            <li>Сбор и формализация требований к проекту</li>
            <li>Работа по методологии Agile или Waterfall</li>
            <li>Регулярные демо заказчику</li>
            <li>Фиксированная стоимость</li>
        </ul>
    </div>
    <div class="tech">
        <h2>ИТ-аудит</h2>
        <i class="icon fa fa-bar-chart"></i>
        <ul>
            <li>Анализ архитектуры информационных систем и ИТ-инфраструктуры заказчика</li>
            <li>Актуализация проблем и точек роста</li>
            <li>Выработка рекомендаций по оптимизации и развитию ИТ-ландшафта</li>
        </ul>
    </div>
</div>
