<div class="user-details">
    <h1> Наш опыт </h1>
</div>

<div class="user-projects">
    <div class="images-right">
        <img alt="bank" src="{{ "/assets/img/bank.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
        <h3>БАНКОВСКИЕ СИСТЕМЫ И СЕРВИСЫ</h3>
        <p>Мы имеем многолетний опыт и десятки успешно реализованных проектов в банковской сфере по разработке и сопровождению:</p>
        <ul class="fa-ul">
            <li><span class="fa-li"><i class="icon fa fa-university"></i></span>Систем дистанционного банковского обслуживания для физ и юрлиц</li>
            <li><span class="fa-li"><i class="icon fa fa-gears"></i></span>Кредитного конвейера для корпоративных клиентов и розничного бизнеса</li>
            <li><span class="fa-li"><i class="icon fa fa-files-o"></i></span>Систем электронного документооборота</li>
            <li><span class="fa-li"><i class="icon fa fa-plug"></i></span>Интеграций с внешними и внутренними сервисами</li>
            <li><span class="fa-li"><i class="icon fa fa-drivers-license-o"></i></span>HR и ERP-систем</li>
            <li><span class="fa-li"><i class="icon fa fa-database"></i></span>Систем хранения и работы с данными</li>
            <li><span class="fa-li"><i class="icon fa fa-comment-o"></i></span>Чат-ботов</li>
        </ul>
    </div>
</div>

<div class="user-projects">
    <div class="images-left">
        <img alt="investment" src="{{ "/assets/img/fintech.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
        <h3>ФИНТЕХ / ИНВЕСТИЦИИ</h3>
        <p>Обладаем экспертизой в создании и поддержке финтех-проектов, связанных с инвестициями. Некоторые из реализованных нами проектов:</p>
        <ul class="fa-ul">
            <li><span class="fa-li"><i class="icon fa fa-lightbulb-o"></i></span>Витрина уникальных торговых идей</li>
            <li><span class="fa-li"><i class="icon fa fa-cube"></i></span>Агрегатор инвестиционных идей брокерских компаний</li>
            <li><span class="fa-li"><i class="icon fa fa-magic"></i></span>Сервис оптимизации продаж структурных продуктов для юрлиц</li>
            <li><span class="fa-li"><i class="icon fa fa-money"></i></span>Сервис первичного размещения паевых инвестиционных фондов на бирже</li>
        </ul>
    </div>
</div>

<div class="user-projects">
    <div class="images-right">
        <img alt="mobile" src="{{ "/assets/img/mobile.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
        <h3>МОБИЛЬНАЯ РАЗРАБОТКА</h3>
        <p>Имеем значительный опыт в разработке приложений для iOS и Android.
            Некоторые примеры:</p>
        <ul class="fa-ul">
            <li><span class="fa-li"><i class="icon fa fa-compass"></i></span>Проведение исследований с георадиолокацией</li>
            <li><span class="fa-li"><i class="icon fa fa-android"></i></span>Мониторинг состояния оборудования</li>
            <li><span class="fa-li"><i class="icon fa fa-heartbeat"></i></span>Взаимодействие с диетологами, фитнес-тренерами</li>
            <li><span class="fa-li"><i class="icon fa fa-hashtag"></i></span>Приложение операторов животноводческих комплексов</li>
            <li><span class="fa-li"><i class="icon fa fa-map-o"></i></span>Путеводитель по интересным местам для локального туризма</li>
        </ul>
    </div>
</div>

<div class="user-projects">
    <div class="images-left">
        <img alt="1c" src="{{ "/assets/img/1c.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
        <h3>РАЗРАБОТКА И ВНЕДРЕНИЕ 1С</h3>
        <p>Кроме этого имеем экспертизу в разработке и внедрении решений для 1С. Некоторые из реализованных проектов:</p>
        <ul class="fa-ul">
            <li><span class="fa-li"><i class="icon fa fa-th-large"></i></span>Разработка и внедрение систем оперативного учета, бухгалтерии, кадров, управления складом на предприятиях нефтехимического комплекса, грузоперевозок, сферы ритейл и других</li>
            <li><span class="fa-li"><i class="icon fa fa-puzzle-piece"></i></span>Интеграция с внешними системами и сервисами</li>
            <li><span class="fa-li"><i class="icon fa fa-file-pdf-o"></i></span>Автоматизация бизнес-процессов и отчетности</li>
        </ul>
    </div>
</div>
