<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="og:url" content="https://tnqz.tech"/>
    <meta name="og:site_name" content="TN Qazaq"/>
    <meta name="og:title" content="TN Qazaq"/>
    <meta name="DC.Title" content="TN Qazaq"/>
    <meta name="description" content="Разработка,программное обеспечение,ПО,development,Java,Spring,React,мобильная разработка,1С,IT-аутстаффинг,аутсорсинг,финтех,fintech,ритейл"/>
    <meta name="og:description" content="Разработка,программное обеспечение,ПО,development,Java,Spring,React,мобильная разработка,1С,IT-аутстаффинг,аутсорсинг,финтех,fintech,ритейл"/>
    <meta name="DC.Description" content="Разработка,программное обеспечение,ПО,development,Java,Spring,React,мобильная разработка,1С,IT-аутстаффинг,аутсорсинг,финтех,fintech,ритейл"/>
    <meta name="og:type" content="website"/>
    <meta name="og:locale" content="ru_RU"/>
    <meta name="og:image" content="https://tnqz.tech/assets/img/logo.png"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="robots" content="index, follow"/>
    <meta name="language" content="Russian"/>
    <meta name="content-language" content="ru"/>
    <meta name="revisit-after" content="7 days"/>

    <title>
        {% if page.title %}
            {{ page.title }}
        {% else %}
            {{ site.title }}
        {% endif %}
    </title>
    <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
</head>
