<div id="particles-js">
    <div class="languages">
        <span class="fi fi-kz"></span>
        <span class="fi fi-ru"></span>
        <span class="fi fi-gb"></span>
    </div>
    <div class="header">
        <h1>
            <div class="logo-container">
                <img alt="logo" class="logo-image" src="{{ "/assets/img/logo.png" | prepend: site.baseurl }}" />
                <span class="site-title">{{site.username}}</span>
            </div>
            <span class="site-description">
                Ваши идеи в надежных руках
            </span>
        </h1>
        <div class="header-icons">
            <a aria-label="Send email" href="mailto:TN QAZAQ <{{site.email}}>"><i class="icon fa fa-envelope"></i></a>
            <a aria-label="Our Telegram" target="_blank" href="https://t.me/{{site.telegram_account}}"><i class="icon fa fa-telegram" aria-hidden="true"></i></a>
            <a aria-label="Our LinkedIn" target="_blank" href="{{site.linkedin_group}}"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
            <a aria-label="Our Facebook" target="_blank" href="{{site.facebook_group}}"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
            <a aria-label="Our VK" target="_blank" href="{{site.vk_group}}"><i class="icon fa fa-vk" aria-hidden="true"></i></a>
        </div>
        <div class="header-links">
            <a class="link" href="#about" data-scroll>О нас</a>
            <a class="link" href="#experience" data-scroll>Наш опыт</a>
            <a class="link" href="#request-form" data-scroll>Оставить заявку</a>
        </div>
    </div>
    <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
