<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="og:url" content="https://tnqz.tech"/>
    <meta name="og:site_name" content="TNQZ"/>
    <meta name="og:title" content="TNQZ - Your reliable partner in software development"/>
    <meta name="description" content="TNQZ specializes in IT outsourcing, software development, mobile development, and fintech solutions. We offer services in Java, Spring, React, and many other technologies."/>
    <meta name="og:description" content="TNQZ specializes in IT outsourcing, software development, mobile development, and fintech solutions. We offer services in Java, Spring, React, and many other technologies."/>
    <meta name="keywords" content="Software Development, Software, Java, Spring Framework, React, Mobile Development, 1C, IT Outsourcing, IT Services Outsourcing, Fintech Solutions, ERP, fintech, IT Audit, Reliable IT Company, IT Consulting"/>
    <meta name="og:type" content="website"/>
    <meta name="og:locale" content="ru_RU"/>
    <meta name="og:image" content="https://tnqz.tech/assets/img/logo.png"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="robots" content="index, follow"/>
    <meta name="content-language" content="ru"/>
    <meta name="revisit-after" content="7 days"/>

    <title>
        {% if page.title %}
            {{ page.title }}
        {% else %}
            {{ site.title }}
        {% endif %}
    </title>
    <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
</head>
