<div class="user-details">
    <h1> Наш опыт </h1>
</div>

<div class="user-projects">
    <div class="images-right">
        <img alt="bank" src="{{ "/assets/img/bank.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
        <h3>БАНКОВСКИЕ СИСТЕМЫ И СЕРВИСЫ</h3>
        <p>В рамках опыта ГК мы накопили значительную экспертизу в разработке банковских продуктов, с 2014 года.</p>
        <p>Некоторые из наших проектов:</p>
        <ul>
            <li>Разработка и сопровождение системы ДБО (интернет-банк) для корпоративных клиентов.</li>
            <li>Разработка и сопровождение системы для работы с кредитными и страховыми договорами физлиц (кредитный конвейер).</li>
            <li>Проектирование и разработка сервиса расчета пакетных продуктов банка.</li>
            <li>Проектирование и разработка системы автоматизации искового производства юридического отдела банка.</li>
            <li>Формирование кредитной истории на основе корпоративного хранилища данных для обмена данными с БКИ.</li>
            <li>Разработка модулей секьюритизации кредитных договоров и обратного выкупа.</li>
            <li>Разработка сервисов шопинг-карты и кредитного брокера.</li>
            <li>Разработка систем сбора биометрических данных и внутренней системы банка для анализа показателей эффективности (KPI) сотрудников.</li>
            <li>Интеграция корпоративного хранилища данных с платформой для рекрутинга.</li>
            <li>Разработка утилит для сопровождения хранилища данных с набором инструментов для сборки и установки обновлений.</li>
        </ul>
    </div>
</div>

<div class="user-projects">
    <div class="images-left">
        <img alt="investment" src="{{ "/assets/img/fintech.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
        <h3>ФИНТЕХ / ИНВЕСТИЦИИ</h3>
        <p>В рамках инвестиционного направления имеется опыт реализации следующих проектов:</p>
        <ul>
            <li>Витрина инвестиционных идей и продуктов. Позволяет инвесторам познакомиться и, при желании, тут же вложить свой
                капитал в уникальные торговые идеи, которые можно найти на рынке.
            </li>
            <li>Фабрика инвестиционных идей. Агрегатор, инструмент создания и поставщик инвестиционных идей от аналитиков
                брокерских компаний.
            </li>
            <li>Сервис оптимизации процесса продаж структурных продуктов для юридических лиц.</li>
            <li>Первичное размещение паев. Создание и развитие сервиса по биржевому размещению паевых инвестиционных фондов.</li>
        </ul>
    </div>
</div>

<div class="user-projects">
    <div class="images-right">
        <img alt="mobile" src="{{ "/assets/img/mobile.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
        <h3>МОБИЛЬНАЯ РАЗРАБОТКА</h3>
        <p>Мы обладаем значительным опытом в разработке мобильных приложений для платформ iOS и Android.</p>
        <p>Несколько примеров реализованных проектов:</p>
        <ul>
            <li>Приложение для проведения исследований с использованием георадиолокационного комплекса.</li>
            <li>Приложение для мониторинга состояния заводского оборудования с поддержкой считывания RFID-меток и QR-кодов.</li>
            <li>Приложение для взаимодействия диетологов и клиентов.</li>
            <li>Приложение для взаимодействия тренеров и клиентов спортивных залов и фитнес центров.</li>
            <li>Приложение для операторов животноводческих комплексов.</li>
            <li>Приложение для поиска интересных мест для локального туризма.</li>
        </ul>
    </div>
</div>

<div class="user-projects">
    <div class="images-left">
        <img alt="1c" src="{{ "/assets/img/1c.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
        <h3>РАЗРАБОТКА И ВНЕДРЕНИЕ 1С</h3>
        <p>Также обладаем значительным опытом в разработке и внедрении продуктов 1С. </p>
        <p>Перечень некоторых реализованных проектов:</p>
        <ul>
            <li>Разработка и внедрение системы учета заявок на грузоперевозки.</li>
            <li>Внедрение системы "1С: Управление производственным предприятием 8" для нефтехимической компании.</li>
            <li>Автоматизация консолидированных бизнес-процессов и отчетности средствами 1С: Управление холдингом.</li>
            <li>Внедрение системы учета складских операций и перевозки живка на птицефабрике.</li>
            <li>Разработка систеиы учета банковских операций на платформе "1С: Бухгалтерия 8" для компании грузоперевозок.</li>
            <li>Интеграция 1С и системы управления складом «Solvo-WMS».</li>
            <li>Интеграция 1С и системы оперативного учета для нефтехимической компании.</li>
            <li>Интеграция 1С ЗУП и СКУД для «H&M».</li>
            <li>Интеграция конфигурации 1С и системы учета сертификатов для научно-исследовательского центра.</li>
            <li>Внедрение конфигурации 1С: Управление холдингом и объединение с 1С: Зарплата и управление персоналом и 1С: Документооборот.</li>
            <li>Интеграция сайта интернет-магазина алкогольной продукции с учетной системой «1С: Реализация алкогольной продукции.</li>
        </ul>
    </div>
</div>
