<div class="user-details">
    <h1> Наш опыт </h1>
</div>

<div class="user-projects">
    <div class="images-right">
        <img alt="bank" src="{{ "/assets/img/bank.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
        <h3>БАНКОВСКИЕ СИСТЕМЫ И СЕРВИСЫ</h3>
        <p>Мы имеем многолетний опыт и десятки успешно реализованных проектов в банковской сфере по разработке и сопровождению:</p>
        <ul>
            <li>Систем дистанционного банковского обслуживания для физ и юрлиц</li>
            <li>Кредитного конвейера для корпоративных клиентов и розничного бизнеса</li>
            <li>Систем электронного документооборота</li>
            <li>Интеграций с внешними и внутренними сервисами</li>
            <li>HR и ERP-систем</li>
            <li>Систем хранения и работы с данными</li>
            <li>Чат-ботов</li>
        </ul>
    </div>
</div>

<div class="user-projects">
    <div class="images-left">
        <img alt="investment" src="{{ "/assets/img/fintech.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
        <h3>ФИНТЕХ / ИНВЕСТИЦИИ</h3>
        <p>Обладаем экспертизой в создании и поддержке финтех-проектов, связанных с инвестициями. Некоторые из реализованных нами проектов:</p>
        <ul>
            <li>Витрина инвестиционных идей для вложений капитала в уникальные торговые идеи</li>
            <li>Фабрика инвестиционных идей, агрегирующая инвестиционные идеи от аналитиков брокерских компаний</li>
            <li>Сервис оптимизации продаж структурных продуктов для юрлиц</li>
            <li>Сервис первичного размещения паевых инвестиционных фондов на бирже</li>
        </ul>
    </div>
</div>

<div class="user-projects">
    <div class="images-right">
        <img alt="mobile" src="{{ "/assets/img/mobile.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
        <h3>МОБИЛЬНАЯ РАЗРАБОТКА</h3>
        <p>Имеем значительный опыт в разработке приложений для iOS и Android.
            Некоторые примеры:</p>
        <ul>
            <li>Проведение исследований с георадиолокацией</li>
            <li>Мониторинг состояния оборудования</li>
            <li>Взаимодействие диетологов и клиентов</li>
            <li>Взаимодействие тренеров и клиентов фитнес-центров</li>
            <li>Приложение для операторов животноводческих комплексов</li>
            <li>Путеводитель по интересным местам для локального туризма</li>
        </ul>
    </div>
</div>

<div class="user-projects">
    <div class="images-left">
        <img alt="1c" src="{{ "/assets/img/1c.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
        <h3>РАЗРАБОТКА И ВНЕДРЕНИЕ 1С</h3>
        <p>Кроме этого имеем экспертизу в разработке и внедрении решений для 1С. Некоторые из реализованных проектов:</p>
        <ul>
            <li>Разработка и внедрение систем оперативного учета, бухгалтерии, кадров, управления складом на предприятиях нефтехимического комплекса,
                грузоперевозок, ритейл-сферы и других</li>
            <li>Интеграция с внешними системами и сервисами</li>
            <li>Автоматизация бизнес-процессов и отчетности</li>
        </ul>
    </div>
</div>
