<div class="user-details">
    <h1> Оставить заявку </h1>
    <p>
        Оставьте заявку прямо сейчас, мы свяжемся с вами в ближайшее время, чтобы обсудить детали и предложить наилучшие решения. Ваш успех в IT-сфере — это наша миссия.
    </p>
</div>

<div class="request-form">
    <script>!function(a,m,o,c,r,m){a[o+c]=a[o+c]||{setMeta:function(p){this.params=(this.params||[]).concat([p])}},a[o+r]=a[o+r]||function(f){a[o+r].f=(a[o+r].f||[]).concat([f])},a[o+r]({id:"1109378",hash:"17548bb1115b7296038e574d88af6528",locale:"ru"}),a[o+m]=a[o+m]||function(f,k){a[o+m].f=(a[o+m].f||[]).concat([[f,k]])}}(window,0,"amo_forms_","params","load","loaded");</script><script id="amoforms_script_1109378" async="async" charset="utf-8" src="https://forms.amocrm.ru/forms/assets/js/amoforms.js?1680155532"></script>
</div>