<div class="user-details">
    <h1 class="centered-header"> Submit a Request </h1>
    <p>
        Submit a request right now using the form below and we will contact you as soon as possible to discuss the details
        and offer the best solutions. Your success in the IT sphere is our mission.
    </p>
</div>

<div class="request-form">
    <script>!function(a,m,o,c,r,m){a[o+c]=a[o+c]||{setMeta:function(p){this.params=(this.params||[]).concat([p])}},a[o+r]=a[o+r]||function(f){a[o+r].f=(a[o+r].f||[]).concat([f])},a[o+r]({id:"1217754",hash:"3fc570faf5f8a004d0cb27683eaa8293",locale:"ru"}),a[o+m]=a[o+m]||function(f,k){a[o+m].f=(a[o+m].f||[]).concat([[f,k]])}}(window,0,"amo_forms_","params","load","loaded");</script><script id="amoforms_script_1217754" async="async" charset="utf-8" src="https://forms.amocrm.ru/forms/assets/js/amoforms.js?1696348987"></script>
</div>